.mealContainer{
   
   margin: 90px 90px 0px;
   border:2px solid brown;
   padding: 20px;
   border-radius: 15px;
   background-color: azure;
}
.mealContainer img{
  height: 200px;
  width: 200px;
border-radius: 20px;
}
.mealContainer button{
   color: rgb(138, 3, 3);
   padding: 12px;
   border-radius: 4px;
   background-color: lightblue;
   border: 1px solid white;
}
.mealContainer button:hover{
  color: lightblue ;
  background-color: brown;
}